name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Xcode version
        run: xcodebuild -version
      - name: Build and test
        run: |
          xcodebuild \
            -project TicTacToe/TicTacToe.xcodeproj \
            -scheme TicTacToe \
            -destination "platform=iOS Simulator,name=iPhone 15,OS=latest" \
            test
